In [70]:
import pandas
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import IsolationForest

In [183]:
df = pandas.read_csv('dt_all_transactions.csv')

In [196]:
df["type"] = df["type"].astype('category')
df["operation"] = df["operation"].astype('category')
df["bank"] = df["bank"].astype('category')
#df["trans_date"] = df["trans_date"].astype('datetime64')
df["account"] = df["account"].fillna(-1)
df["CRIMES_95"] = df["CRIMES_95"].astype('float').fillna(-1)

In [186]:
cat_columns = df.select_dtypes(['category']).columns
df[cat_columns] = df[cat_columns].apply(lambda x: x.cat.codes)

pandas.core.series.Series

In [187]:
print(df)

        Unnamed: 0  district_id  account_id  trans_id trans_date  type  \
0                1           18           1         1 1995-03-24     0
1                2           18           1         5 1995-04-13     0
2                3           18           1       199 1995-04-23     0
3                4           18           1   3530438 1995-04-30     0
4                5           18           1         6 1995-05-13     0
5                6           18           1       200 1995-05-23     0
6                7           18           1   3530439 1995-05-31     0
7                8           18           1         7 1995-06-13     0
8                9           18           1       201 1995-06-22     1
9               10           18           1   3530440 1995-06-30     0
10              11           18           1         8 1995-07-13     0
11              12           18           1       202 1995-07-22     1
12              13           18           1   3530441 1995-07-31     0
13              14           18           1         9 1995-08-13     0
14              15           18           1       203 1995-08-21     1
15              16           18           1   3530442 1995-08-31     0
16              17           18           1       159 1995-08-31     1
17              18           18           1        58 1995-09-05     1
18              19           18           1        10 1995-09-13     0
19              20           18           1       204 1995-09-20     1
20              21           18           1       160 1995-09-30     1
21              22           18           1   3530443 1995-09-30     0
22              23           18           1        59 1995-10-05     1
23              24           18           1        11 1995-10-13     0
24              25           18           1       205 1995-10-20     1
25              26           18           1   3530444 1995-10-31     0
26              27           18           1       161 1995-10-31     1
27              28           18           1        60 1995-11-05     1
28              29           18           1        12 1995-11-13     0
29              30           18           1       206 1995-11-19     1
...            ...          ...         ...       ...        ...   ...
499970      499971           41        2303   3606135 1998-05-31     0
499971      499972           41        2303    674092 1998-06-12     0
499972      499973           41        2303    674128 1998-06-13     1
499973      499974           41        2303    674231 1998-06-17     1
499974      499975           41        2303    674175 1998-06-22     1
499975      499976           41        2303    674173 1998-06-24     1
499976      499977           41        2303    674207 1998-06-30     1
499977      499978           41        2303   3606136 1998-06-30     0
499978      499979           41        2303    674093 1998-07-12     0
499979      499980           41        2303    674129 1998-07-13     1
499980      499981           41        2303    674232 1998-07-17     1
499981      499982           41        2303    674208 1998-07-31     1
499982      499983           41        2303   3606137 1998-07-31     0
499983      499984           41        2303    674094 1998-08-12     0
499984      499985           41        2303    674176 1998-08-12     1
499985      499986           41        2303    674130 1998-08-13     1
499986      499987           41        2303    674233 1998-08-16     1
499987      499988           41        2303   3606138 1998-08-31     0
499988      499989           41        2303    674209 1998-08-31     1
499989      499990           41        2303    674095 1998-09-12     0
499990      499991           41        2303    674131 1998-09-13     1
499991      499992           41        2303    674234 1998-09-15     1
499992      499993           41        2303   3606139 1998-09-30     0
499993      499994           41        2303    674210 1998-09-30     1
499994      499995           41        2303    674096 1998-10-12     0
499995      499996           41        2303    674132 1998-10-13     1
499996      499997           41        2303    674235 1998-10-15     1
499997      499998           41        2303   3606140 1998-10-31     0
499998      499999           41        2303    674211 1998-10-31     1
499999      500000           41        2303    674097 1998-11-12     0

        operation   amount  balance           k_symbol     ...       \
0               0   1000.0   1000.0                NaN     ...
1               2   3679.0   4679.0                NaN     ...
2               0  12600.0  17279.0                NaN     ...
3              -1     19.2  17298.2  INTEREST_CREDITED     ...
4               2   3679.0  20977.2                NaN     ...
5               0   2100.0  23077.2                NaN     ...
6              -1     79.0  23156.2  INTEREST_CREDITED     ...
7               2   3679.0  26835.2                NaN     ...
8               4    200.0  26635.2                NaN     ...
9              -1    100.6  26735.8  INTEREST_CREDITED     ...
10              2   3679.0  30414.8                NaN     ...
11              4   5300.0  25114.8                NaN     ...
12             -1    108.9  25223.7  INTEREST_CREDITED     ...
13              2   3679.0  28902.7                NaN     ...
14              4   7500.0  21402.7                NaN     ...
15             -1     99.2  21501.9  INTEREST_CREDITED     ...
16              4     14.6  21487.3  PAYMENT_STATEMENT     ...
17              3   2452.0  19035.3          HOUSEHOLD     ...
18              2   3679.0  22714.3                NaN     ...
19              4    700.0  22014.3                NaN     ...
20              4     14.6  22091.2  PAYMENT_STATEMENT     ...
21             -1     91.5  22105.8  INTEREST_CREDITED     ...
22              3   2452.0  19639.2          HOUSEHOLD     ...
23              2   3679.0  23318.2                NaN     ...
24              4   2900.0  20418.2                NaN     ...
25             -1     90.5  20508.7  INTEREST_CREDITED     ...
26              4     14.6  20494.1  PAYMENT_STATEMENT     ...
27              3   2452.0  18042.1          HOUSEHOLD     ...
28              2   3679.0  21721.1                NaN     ...
29              4   1900.0  19821.1                NaN     ...
...           ...      ...      ...                ...     ...
499970         -1    103.7  23479.9  INTEREST_CREDITED     ...
499971          0  29713.5  53178.8                NaN     ...
499972          3   7892.0  45286.8          HOUSEHOLD     ...
499973          4  17200.0  28086.8                NaN     ...
499974          4   4440.0  23646.8                NaN     ...
499975          4   5400.0  18246.8                NaN     ...
499976          4     14.6  18339.9  PAYMENT_STATEMENT     ...
499977         -1    107.7  18354.5  INTEREST_CREDITED     ...
499978          0  19809.0  38148.9                NaN     ...
499979          3   7892.0  30256.9          HOUSEHOLD     ...
499980          4   7200.0  23056.9                NaN     ...
499981          4     14.6  23134.2  PAYMENT_STATEMENT     ...
499982         -1     91.9  23148.8  INTEREST_CREDITED     ...
499983          0  19809.0  42943.2                NaN     ...
499984          4   3480.0  39463.2                NaN     ...
499985          3   7892.0  31571.2          HOUSEHOLD     ...
499986          4  11600.0  19971.2                NaN     ...
499987         -1     94.7  20065.9  INTEREST_CREDITED     ...
499988          4     14.6  20051.3  PAYMENT_STATEMENT     ...
499989          0  19809.0  39860.3                NaN     ...
499990          3   7892.0  31968.3          HOUSEHOLD     ...
499991          4  11200.0  20768.3                NaN     ...
499992         -1     87.9  20856.3  INTEREST_CREDITED     ...
499993          4     14.6  20841.7  PAYMENT_STATEMENT     ...
499994          0  19809.0  40650.7                NaN     ...
499995          3   7892.0  32758.7          HOUSEHOLD     ...
499996          4  12500.0  20258.7                NaN     ...
499997         -1     88.1  20346.8  INTEREST_CREDITED     ...
499998          4     14.6  20332.2  PAYMENT_STATEMENT     ...
499999          0  19809.0  40141.2                NaN     ...

        AVG_SALARY  UNEMP_95 UNEMP_96  ENTR CRIMES_95  CRIMES_96  last_trans  \
0             8968      2.83     3.35   131      1740       1910           0
1             8968      2.83     3.35   131      1740       1910          20
2             8968      2.83     3.35   131      1740       1910          10
3             8968      2.83     3.35   131      1740       1910           7
4             8968      2.83     3.35   131      1740       1910          13
5             8968      2.83     3.35   131      1740       1910          10
6             8968      2.83     3.35   131      1740       1910           8
7             8968      2.83     3.35   131      1740       1910          13
8             8968      2.83     3.35   131      1740       1910           9
9             8968      2.83     3.35   131      1740       1910           8
10            8968      2.83     3.35   131      1740       1910          13
11            8968      2.83     3.35   131      1740       1910           9
12            8968      2.83     3.35   131      1740       1910           9
13            8968      2.83     3.35   131      1740       1910          13
14            8968      2.83     3.35   131      1740       1910           8
15            8968      2.83     3.35   131      1740       1910          10
16            8968      2.83     3.35   131      1740       1910           0
17            8968      2.83     3.35   131      1740       1910           5
18            8968      2.83     3.35   131      1740       1910           8
19            8968      2.83     3.35   131      1740       1910           7
20            8968      2.83     3.35   131      1740       1910          10
21            8968      2.83     3.35   131      1740       1910           0
22            8968      2.83     3.35   131      1740       1910           5
23            8968      2.83     3.35   131      1740       1910           8
24            8968      2.83     3.35   131      1740       1910           7
25            8968      2.83     3.35   131      1740       1910          11
26            8968      2.83     3.35   131      1740       1910           0
27            8968      2.83     3.35   131      1740       1910           5
28            8968      2.83     3.35   131      1740       1910           8
29            8968      2.83     3.35   131      1740       1910           6
...            ...       ...      ...   ...       ...        ...         ...
499970        9832      3.32     4.48   114      6445       5471           0
499971        9832      3.32     4.48   114      6445       5471          12
499972        9832      3.32     4.48   114      6445       5471           1
499973        9832      3.32     4.48   114      6445       5471           4
499974        9832      3.32     4.48   114      6445       5471           5
499975        9832      3.32     4.48   114      6445       5471           2
499976        9832      3.32     4.48   114      6445       5471           6
499977        9832      3.32     4.48   114      6445       5471           0
499978        9832      3.32     4.48   114      6445       5471          12
499979        9832      3.32     4.48   114      6445       5471           1
499980        9832      3.32     4.48   114      6445       5471           4
499981        9832      3.32     4.48   114      6445       5471          14
499982        9832      3.32     4.48   114      6445       5471           0
499983        9832      3.32     4.48   114      6445       5471          12
499984        9832      3.32     4.48   114      6445       5471           0
499985        9832      3.32     4.48   114      6445       5471           1
499986        9832      3.32     4.48   114      6445       5471           3
499987        9832      3.32     4.48   114      6445       5471          15
499988        9832      3.32     4.48   114      6445       5471           0
499989        9832      3.32     4.48   114      6445       5471          12
499990        9832      3.32     4.48   114      6445       5471           1
499991        9832      3.32     4.48   114      6445       5471           2
499992        9832      3.32     4.48   114      6445       5471          15
499993        9832      3.32     4.48   114      6445       5471           0
499994        9832      3.32     4.48   114      6445       5471          12
499995        9832      3.32     4.48   114      6445       5471           1
499996        9832      3.32     4.48   114      6445       5471           2
499997        9832      3.32     4.48   114      6445       5471          16
499998        9832      3.32     4.48   114      6445       5471           0
499999        9832      3.32     4.48   114      6445       5471          12

       SARS_layer1  SARS_layer2  SARS_layer3
0                0            0            0
1                0            0            0
2                1            0            0
3                1            1            0
4                0            0            0
5                1            0            0
6                0            0            0
7                0            0            0
8                0            0            0
9                0            0            0
10               0            0            0
11               1            1            0
12               1            1            0
13               0            0            0
14               1            1            0
15               1            1            0
16               0            0            0
17               0            0            0
18               1            0            0
19               0            0            0
20               0            0            0
21               0            0            0
22               0            0            0
23               1            0            0
24               1            1            0
25               0            0            0
26               0            0            0
27               0            0            0
28               1            0            0
29               1            1            0
...            ...          ...          ...
499970           0            0            0
499971           1            0            0
499972           1            0            0
499973           1            1            0
499974           1            1            0
499975           1            1            0
499976           1            1            0
499977           0            0            0
499978           1            0            0
499979           1            0            0
499980           1            1            0
499981           1            1            0
499982           0            0            0
499983           1            0            0
499984           1            1            0
499985           1            0            0
499986           1            1            0
499987           1            1            0
499988           0            0            0
499989           1            0            0
499990           1            0            0
499991           1            1            0
499992           1            1            0
499993           0            0            0
499994           1            0            0
499995           1            0            0
499996           1            1            0
499997           0            0            0
499998           0            0            0
499999           1            0            0

[500000 rows x 23 columns]

In [188]:
rng = np.random.RandomState(42)

In [189]:
def IsolationForestTrain(X_train, cont=0.1):
    rng = check_random_state(42)
    clf = IsolationForest(max_samples=100, random_state=rng, contamination=cont)
    clf.fit(X_train)
    y_pred_train = clf.predict(X_train)
    return y_pred_train

In [231]:
X_train = np.array(df[["account_id", "bank", "type", "operation", "amount", "balance", "account", "AVG_SALARY","UNEMP_96", "ENTR", "CRIMES_96", "last_trans"]])
Y_train_sars1 = np.array(df[["SARS_layer1"]])
Y_train_sars2 = np.array(df[["SARS_layer2"]])
Y_train_sars3 = np.array(df[["SARS_layer3"]])
Y_train_sars1[Y_train_sars1 == 0] = -1
Y_train_sars2[Y_train_sars2 == 0] = -1
Y_train_sars3[Y_train_sars3 == 0] = -1
y_pred_train = IsolationForestTrain(X_train)

In [232]:
print(list(y_pred_train).count(1))
print(list(y_pred_train).count(-1))

449999
50001

In [233]:
print(list(Y_train_sars3).count(1))
print(list(Y_train_sars3).count(-1))

48626
451374

In [234]:
compare = []
inverse = []
for i in range(len(Y_train_sars3)):
    compare.append( Y_train_sars3[i][0] == y_pred_train[i] )
    inverse.append( Y_train_sars3[i][0] != y_pred_train[i] )
print(compare.count(1))
print(inverse.count(1))

88749
411251

In [236]:
y_final_pred = y_pred_train
if compare.count(1) < inverse.count(1):
    #y_final_pred[y_pred_train == 1] = 0
    #y_final_pred[y_pred_train == -1] = 1
    y_final_pred = [ 1 if value == -1 else 0 for value in y_pred_train ]
else:
    y_final_pred = [ -1 if value == 0 else 1 for value in y_pred_train ]

In [237]:
print(list(y_final_pred).count(1))
print(list(y_final_pred).count(0))

50001
449999

In [244]:
compare_final = []
for i in range(len(y_final_pred)):
    compare_final.append( y_final_pred[i] == y_pred_train[i] )

print(list(compare_final).count(1)) #Expected 0 if there was a change in the outco

0

In [242]:
print df2

        Unnamed: 0  district_id  account_id  trans_id  trans_date        type  \
0                1           18           1         1  1995-03-24      CREDIT
1                2           18           1         5  1995-04-13      CREDIT
2                3           18           1       199  1995-04-23      CREDIT
3                4           18           1   3530438  1995-04-30      CREDIT
4                5           18           1         6  1995-05-13      CREDIT
5                6           18           1       200  1995-05-23      CREDIT
6                7           18           1   3530439  1995-05-31      CREDIT
7                8           18           1         7  1995-06-13      CREDIT
8                9           18           1       201  1995-06-22  WITHDRAWAL
9               10           18           1   3530440  1995-06-30      CREDIT
10              11           18           1         8  1995-07-13      CREDIT
11              12           18           1       202  1995-07-22  WITHDRAWAL
12              13           18           1   3530441  1995-07-31      CREDIT
13              14           18           1         9  1995-08-13      CREDIT
14              15           18           1       203  1995-08-21  WITHDRAWAL
15              16           18           1   3530442  1995-08-31      CREDIT
16              17           18           1       159  1995-08-31  WITHDRAWAL
17              18           18           1        58  1995-09-05  WITHDRAWAL
18              19           18           1        10  1995-09-13      CREDIT
19              20           18           1       204  1995-09-20  WITHDRAWAL
20              21           18           1       160  1995-09-30  WITHDRAWAL
21              22           18           1   3530443  1995-09-30      CREDIT
22              23           18           1        59  1995-10-05  WITHDRAWAL
23              24           18           1        11  1995-10-13      CREDIT
24              25           18           1       205  1995-10-20  WITHDRAWAL
25              26           18           1   3530444  1995-10-31      CREDIT
26              27           18           1       161  1995-10-31  WITHDRAWAL
27              28           18           1        60  1995-11-05  WITHDRAWAL
28              29           18           1        12  1995-11-13      CREDIT
29              30           18           1       206  1995-11-19  WITHDRAWAL
...            ...          ...         ...       ...         ...         ...
499970      499971           41        2303   3606135  1998-05-31      CREDIT
499971      499972           41        2303    674092  1998-06-12      CREDIT
499972      499973           41        2303    674128  1998-06-13  WITHDRAWAL
499973      499974           41        2303    674231  1998-06-17  WITHDRAWAL
499974      499975           41        2303    674175  1998-06-22  WITHDRAWAL
499975      499976           41        2303    674173  1998-06-24  WITHDRAWAL
499976      499977           41        2303    674207  1998-06-30  WITHDRAWAL
499977      499978           41        2303   3606136  1998-06-30      CREDIT
499978      499979           41        2303    674093  1998-07-12      CREDIT
499979      499980           41        2303    674129  1998-07-13  WITHDRAWAL
499980      499981           41        2303    674232  1998-07-17  WITHDRAWAL
499981      499982           41        2303    674208  1998-07-31  WITHDRAWAL
499982      499983           41        2303   3606137  1998-07-31      CREDIT
499983      499984           41        2303    674094  1998-08-12      CREDIT
499984      499985           41        2303    674176  1998-08-12  WITHDRAWAL
499985      499986           41        2303    674130  1998-08-13  WITHDRAWAL
499986      499987           41        2303    674233  1998-08-16  WITHDRAWAL
499987      499988           41        2303   3606138  1998-08-31      CREDIT
499988      499989           41        2303    674209  1998-08-31  WITHDRAWAL
499989      499990           41        2303    674095  1998-09-12      CREDIT
499990      499991           41        2303    674131  1998-09-13  WITHDRAWAL
499991      499992           41        2303    674234  1998-09-15  WITHDRAWAL
499992      499993           41        2303   3606139  1998-09-30      CREDIT
499993      499994           41        2303    674210  1998-09-30  WITHDRAWAL
499994      499995           41        2303    674096  1998-10-12      CREDIT
499995      499996           41        2303    674132  1998-10-13  WITHDRAWAL
499996      499997           41        2303    674235  1998-10-15  WITHDRAWAL
499997      499998           41        2303   3606140  1998-10-31      CREDIT
499998      499999           41        2303    674211  1998-10-31  WITHDRAWAL
499999      500000           41        2303    674097  1998-11-12      CREDIT

                 operation   amount  balance           k_symbol  \
0              CASH_CREDIT   1000.0   1000.0                NaN
1             COLLECT_BANK   3679.0   4679.0                NaN
2              CASH_CREDIT  12600.0  17279.0                NaN
3                      NaN     19.2  17298.2  INTEREST_CREDITED
4             COLLECT_BANK   3679.0  20977.2                NaN
5              CASH_CREDIT   2100.0  23077.2                NaN
6                      NaN     79.0  23156.2  INTEREST_CREDITED
7             COLLECT_BANK   3679.0  26835.2                NaN
8          WITHDRAWAL_CASH    200.0  26635.2                NaN
9                      NaN    100.6  26735.8  INTEREST_CREDITED
10            COLLECT_BANK   3679.0  30414.8                NaN
11         WITHDRAWAL_CASH   5300.0  25114.8                NaN
12                     NaN    108.9  25223.7  INTEREST_CREDITED
13            COLLECT_BANK   3679.0  28902.7                NaN
14         WITHDRAWAL_CASH   7500.0  21402.7                NaN
15                     NaN     99.2  21501.9  INTEREST_CREDITED
16         WITHDRAWAL_CASH     14.6  21487.3  PAYMENT_STATEMENT
17      REMMITANCE_TO_BANK   2452.0  19035.3          HOUSEHOLD
18            COLLECT_BANK   3679.0  22714.3                NaN
19         WITHDRAWAL_CASH    700.0  22014.3                NaN
20         WITHDRAWAL_CASH     14.6  22091.2  PAYMENT_STATEMENT
21                     NaN     91.5  22105.8  INTEREST_CREDITED
22      REMMITANCE_TO_BANK   2452.0  19639.2          HOUSEHOLD
23            COLLECT_BANK   3679.0  23318.2                NaN
24         WITHDRAWAL_CASH   2900.0  20418.2                NaN
25                     NaN     90.5  20508.7  INTEREST_CREDITED
26         WITHDRAWAL_CASH     14.6  20494.1  PAYMENT_STATEMENT
27      REMMITANCE_TO_BANK   2452.0  18042.1          HOUSEHOLD
28            COLLECT_BANK   3679.0  21721.1                NaN
29         WITHDRAWAL_CASH   1900.0  19821.1                NaN
...                    ...      ...      ...                ...
499970                 NaN    103.7  23479.9  INTEREST_CREDITED
499971         CASH_CREDIT  29713.5  53178.8                NaN
499972  REMMITANCE_TO_BANK   7892.0  45286.8          HOUSEHOLD
499973     WITHDRAWAL_CASH  17200.0  28086.8                NaN
499974     WITHDRAWAL_CASH   4440.0  23646.8                NaN
499975     WITHDRAWAL_CASH   5400.0  18246.8                NaN
499976     WITHDRAWAL_CASH     14.6  18339.9  PAYMENT_STATEMENT
499977                 NaN    107.7  18354.5  INTEREST_CREDITED
499978         CASH_CREDIT  19809.0  38148.9                NaN
499979  REMMITANCE_TO_BANK   7892.0  30256.9          HOUSEHOLD
499980     WITHDRAWAL_CASH   7200.0  23056.9                NaN
499981     WITHDRAWAL_CASH     14.6  23134.2  PAYMENT_STATEMENT
499982                 NaN     91.9  23148.8  INTEREST_CREDITED
499983         CASH_CREDIT  19809.0  42943.2                NaN
499984     WITHDRAWAL_CASH   3480.0  39463.2                NaN
499985  REMMITANCE_TO_BANK   7892.0  31571.2          HOUSEHOLD
499986     WITHDRAWAL_CASH  11600.0  19971.2                NaN
499987                 NaN     94.7  20065.9  INTEREST_CREDITED
499988     WITHDRAWAL_CASH     14.6  20051.3  PAYMENT_STATEMENT
499989         CASH_CREDIT  19809.0  39860.3                NaN
499990  REMMITANCE_TO_BANK   7892.0  31968.3          HOUSEHOLD
499991     WITHDRAWAL_CASH  11200.0  20768.3                NaN
499992                 NaN     87.9  20856.3  INTEREST_CREDITED
499993     WITHDRAWAL_CASH     14.6  20841.7  PAYMENT_STATEMENT
499994         CASH_CREDIT  19809.0  40650.7                NaN
499995  REMMITANCE_TO_BANK   7892.0  32758.7          HOUSEHOLD
499996     WITHDRAWAL_CASH  12500.0  20258.7                NaN
499997                 NaN     88.1  20346.8  INTEREST_CREDITED
499998     WITHDRAWAL_CASH     14.6  20332.2  PAYMENT_STATEMENT
499999         CASH_CREDIT  19809.0  40141.2                NaN

              ...         UNEMP_95  UNEMP_96 ENTR  CRIMES_95 CRIMES_96  \
0             ...             2.83      3.35  131       1740      1910
1             ...             2.83      3.35  131       1740      1910
2             ...             2.83      3.35  131       1740      1910
3             ...             2.83      3.35  131       1740      1910
4             ...             2.83      3.35  131       1740      1910
5             ...             2.83      3.35  131       1740      1910
6             ...             2.83      3.35  131       1740      1910
7             ...             2.83      3.35  131       1740      1910
8             ...             2.83      3.35  131       1740      1910
9             ...             2.83      3.35  131       1740      1910
10            ...             2.83      3.35  131       1740      1910
11            ...             2.83      3.35  131       1740      1910
12            ...             2.83      3.35  131       1740      1910
13            ...             2.83      3.35  131       1740      1910
14            ...             2.83      3.35  131       1740      1910
15            ...             2.83      3.35  131       1740      1910
16            ...             2.83      3.35  131       1740      1910
17            ...             2.83      3.35  131       1740      1910
18            ...             2.83      3.35  131       1740      1910
19            ...             2.83      3.35  131       1740      1910
20            ...             2.83      3.35  131       1740      1910
21            ...             2.83      3.35  131       1740      1910
22            ...             2.83      3.35  131       1740      1910
23            ...             2.83      3.35  131       1740      1910
24            ...             2.83      3.35  131       1740      1910
25            ...             2.83      3.35  131       1740      1910
26            ...             2.83      3.35  131       1740      1910
27            ...             2.83      3.35  131       1740      1910
28            ...             2.83      3.35  131       1740      1910
29            ...             2.83      3.35  131       1740      1910
...           ...              ...       ...  ...        ...       ...
499970        ...             3.32      4.48  114       6445      5471
499971        ...             3.32      4.48  114       6445      5471
499972        ...             3.32      4.48  114       6445      5471
499973        ...             3.32      4.48  114       6445      5471
499974        ...             3.32      4.48  114       6445      5471
499975        ...             3.32      4.48  114       6445      5471
499976        ...             3.32      4.48  114       6445      5471
499977        ...             3.32      4.48  114       6445      5471
499978        ...             3.32      4.48  114       6445      5471
499979        ...             3.32      4.48  114       6445      5471
499980        ...             3.32      4.48  114       6445      5471
499981        ...             3.32      4.48  114       6445      5471
499982        ...             3.32      4.48  114       6445      5471
499983        ...             3.32      4.48  114       6445      5471
499984        ...             3.32      4.48  114       6445      5471
499985        ...             3.32      4.48  114       6445      5471
499986        ...             3.32      4.48  114       6445      5471
499987        ...             3.32      4.48  114       6445      5471
499988        ...             3.32      4.48  114       6445      5471
499989        ...             3.32      4.48  114       6445      5471
499990        ...             3.32      4.48  114       6445      5471
499991        ...             3.32      4.48  114       6445      5471
499992        ...             3.32      4.48  114       6445      5471
499993        ...             3.32      4.48  114       6445      5471
499994        ...             3.32      4.48  114       6445      5471
499995        ...             3.32      4.48  114       6445      5471
499996        ...             3.32      4.48  114       6445      5471
499997        ...             3.32      4.48  114       6445      5471
499998        ...             3.32      4.48  114       6445      5471
499999        ...             3.32      4.48  114       6445      5471

        last_trans  SARS_layer1 SARS_layer2  SARS_layer3  predicted_anomaly
0                0            0           0            0                  0
1               20            0           0            0                  0
2               10            1           0            0                  0
3                7            1           1            0                  0
4               13            0           0            0                  0
5               10            1           0            0                  0
6                8            0           0            0                  0
7               13            0           0            0                  0
8                9            0           0            0                  0
9                8            0           0            0                  0
10              13            0           0            0                  0
11               9            1           1            0                  0
12               9            1           1            0                  0
13              13            0           0            0                  0
14               8            1           1            0                  0
15              10            1           1            0                  0
16               0            0           0            0                  0
17               5            0           0            0                  0
18               8            1           0            0                  0
19               7            0           0            0                  0
20              10            0           0            0                  0
21               0            0           0            0                  0
22               5            0           0            0                  0
23               8            1           0            0                  0
24               7            1           1            0                  0
25              11            0           0            0                  0
26               0            0           0            0                  0
27               5            0           0            0                  0
28               8            1           0            0                  0
29               6            1           1            0                  0
...            ...          ...         ...          ...                ...
499970           0            0           0            0                  0
499971          12            1           0            0                  0
499972           1            1           0            0                  0
499973           4            1           1            0                  0
499974           5            1           1            0                  0
499975           2            1           1            0                  0
499976           6            1           1            0                  0
499977           0            0           0            0                  0
499978          12            1           0            0                  0
499979           1            1           0            0                  0
499980           4            1           1            0                  0
499981          14            1           1            0                  0
499982           0            0           0            0                  0
499983          12            1           0            0                  0
499984           0            1           1            0                  0
499985           1            1           0            0                  0
499986           3            1           1            0                  0
499987          15            1           1            0                  0
499988           0            0           0            0                  0
499989          12            1           0            0                  0
499990           1            1           0            0                  0
499991           2            1           1            0                  0
499992          15            1           1            0                  0
499993           0            0           0            0                  0
499994          12            1           0            0                  0
499995           1            1           0            0                  0
499996           2            1           1            0                  0
499997          16            0           0            0                  0
499998           0            0           0            0                  0
499999          12            1           0            0                  0

[500000 rows x 24 columns]

In [241]:
df2 = pandas.read_csv('dt_all_transactions.csv')
df2["predicted_anomaly"] = pandas.Series(y_final_pred)
df2.to_csv("output.csv")
##END

In [147]:
print(list(y_pred_train).count(1))
print(list(y_pred_train).count(-1))
compare = []
compare_small = []
compare_small_vs_compare = []
for i in range(len(Y_train)):
    compare.append( Y_train[i][0] == y_pred_train[i] )
    compare_small.append( Y_train[i][0] == y_pred_train[i] )
    compare_small_vs_compare.append( y_pred_train_small[i] == y_pred_train[i] )

950688
105632

In [148]:
print("With the big set of parameters, we get {} matches and {} suspicious transaction").format(compare.count(1), list(y_pred_train).count(1))
print("With the small set of parameters, we get {} matches and {} suspicious transactions").format(compare_small.count(1), list(y_pred_train_small).count(1))
print("With the big set of parameters vs the small set, we get {} matches and {} differences").format(compare_small_vs_compare.count(1), compare_small_vs_compare.count(0))

With the big set of parameters, we get 190228 matches and 950688 suspicious transaction
With the small set of parameters, we get 190228 matches and 950688 suspicious transactions
With the big set of parameters vs the small set, we get 979356 matches and 76964 differences

In [157]:
# Now I compare the outcome of the 
contamination_sets = [0.01, 0.02, 0.05, 0.2]

for j in contamination_sets:
    y_pred = IsolationForestTrain(X_train, cont=j)
    aux = []
    for i in range(len(Y_train)):
        aux.append( Y_train[i][0] == y_pred[i] )
    print("With contamination = {}, we get {} matches and {} suspicious transaction")\
    .format(j, aux.count(1), list(y_pred).count(1))

With contamination = 0.01, we get 114142 matches and 1045756 suspicious transaction
With contamination = 0.02, we get 122521 matches and 1035193 suspicious transaction
With contamination = 0.05, we get 147981 matches and 1003503 suspicious transaction
With contamination = 0.2, we get 274736 matches and 845056 suspicious transaction

In [ ]:
df["predicted_anomaly"] = pandas.Series(y_pred_train)

In [99]:
df.to_csv("output.csv")

In [69]:
from sklearn.utils import check_random_state

rng = check_random_state(0)

def test_iforest_performance():
    """Test Isolation Forest performs well"""

    # Generate train/test data
    rng = check_random_state(2)
    X = 0.3 * rng.randn(120, 2)
    X_train = np.r_[X + 2, X - 2]
    X_train = X[:100]

    # Generate some abnormal novel observations
    X_outliers = rng.uniform(low=-4, high=4, size=(20, 2))
    X_test = np.r_[X[100:], X_outliers]
    y_test = np.array([0] * 20 + [1] * 20)

    # fit the model
    clf = IsolationForest(max_samples=100, random_state=rng).fit(X_train)

    # predict scores (the lower, the more normal)
    y_pred = - clf.decision_function(X_test)

    # check that there is at most 6 errors (false positive or false negative)
    #assert_greater(roc_auc_score(y_test, y_pred), 0.98)
    print(len(list(y_pred[y_pred < 0])))
    print(len(y_pred))
    print(y_test)
    
test_iforest_performance()

18
40
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1]

In [169]:
pandas.Timestamp(datetime(2012, 5, 1))

NameError: name 'datetime' is not defined